* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Press Start 2P";
}

body {
  overflow-y: hidden;
}

#forest {
  background-repeat: no-repeat;
  background-size: cover;
}

#pokedex {
  width: 100vh;
  height: 600px;
  margin: auto;
  margin-top: 5%;
  background-color: #dd0b2d;
  border: #88061c 10px solid;
  border-top-width: 20px;
  z-index: 2;
  display: grid;
  grid-template-columns: 5% 40% 10% 40% 5%;
  grid-template-rows: 3% 12% 40% 20% 20% 5%;
  border-radius: 2%;
  font-family: "Press Start 2P";
}

.camera-display {
  background-color: #E5F6FC;
  border-radius: 5%;
  border: 30px solid #E6E6E6;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}
.camera-display img {
  width: 100%;
  height: auto;
}

.divider {
  background-color: #88061c;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 7;
  margin: 0 30px;
}

.stats-display {
  background-color: #9fdab1;
  border-radius: 0%;
  border: 5px solid #E6E6E6;
  grid-column-start: 4;
  grid-row-start: 3;
  padding: 15px;
  overflow: scroll;
  overflow-x: hidden;
}
.stats-display h2 {
  margin: 10px 0;
}
.stats-display ul {
  margin: 10px;
  overflow: auto;
}

.stat-bar {
  width: 250px;
  height: 20px;
  background-color: #ddd;
  border: 1px solid #000;
}
.stat-bar .progress1 {
  height: 100%;
}
.stat-bar .progress2 {
  height: 100%;
}
.stat-bar .progress3 {
  height: 100%;
}
.stat-bar .progress4 {
  height: 100%;
}
.stat-bar .progress5 {
  height: 100%;
}
.stat-bar .progress6 {
  height: 100%;
}

.sensor {
  grid-column-start: 2;
  grid-row-start: 2;
}
.sensor button {
  cursor: pointer;
  background: #71CDF4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
  z-index: 3;
  float: left;
  margin-left: 25px;
  border: 3px solid white;
}

.controleraudio {
  grid-column-start: 1;
  grid-row-start: 2;
}
.controleraudio div {
  background-color: yellow;
  border: 1px solid rgb(170, 170, 0);
  width: 25px;
  height: 25px;
}

.botom-actions {
  grid-column-start: 2;
  grid-row-start: 5;
  display: grid;
  grid-template-columns: 25% 25% 15% 35%;
  grid-template-rows: 10% 80% 10%;
}

#actions {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 5;
  height: 60px;
}
#actions .a {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #404040;
  border: 5px solid #303030;
  cursor: pointer;
}
#actions img {
  width: 100%;
  height: auto;
}

#cross {
  grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: 5;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
}
#cross .cross-button {
  background-color: #404040;
  border: #303030;
  color: red;
  cursor: pointer;
  border-style: solid;
}
#cross .up {
  grid-row-start: 1;
  grid-column-start: 2;
  border-width: 5px 5px 0px 5px;
}
#cross .right {
  grid-row-start: 2;
  grid-column-start: 1;
  border-width: 5px 0px 5px 5px;
}
#cross .down {
  grid-row-start: 3;
  grid-column-start: 2;
  border-width: 0px 5px 5px 5px;
}
#cross .left {
  grid-row-start: 2;
  grid-column-start: 3;
  border-width: 5px 5px 5px 0px;
}
#cross .center {
  grid-row-start: 2;
  grid-column-start: 2;
  border-width: 0;
}

.input-pad {
  grid-row-start: 4;
  grid-column-start: 4;
  display: flex;
  align-items: center;
}
.input-pad input {
  width: 93%;
  height: 50px;
  background-color: #E6E6E6;
  font-family: "Press Start 2P";
  font-size: 20px;
}
.input-pad input button {
  height: 25px;
  width: 7%;
}

.bottom-modes {
  grid-row-start: 5;
  grid-row-start: 5;
  grid-column-start: 4;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40% 20% 40%;
}

.black-button {
  background-color: #404040;
  border: #303030 5px solid;
  color: gray;
  cursor: pointer;
}

.pokedex-mode {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.game-mode {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

.level-button {
  background-color: #1697F9;
  border: #71CDF4 5px solid;
  color: gray;
  cursor: pointer;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin-top: -25px;
  justify-content: space-around;
  gap: 1rem;
}
.card div {
  width: 60px;
  height: 100px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: black 0px 0px 10px;
}
.card div h2 {
  font-size: 0.7rem;
  text-align: center;
}
.card div img {
  width: 80px;
  height: 80px;
}

.imgdivup {
  width: 252px;
  display: flex;
  flex-wrap: wrap;
}
.imgdivup img {
  width: 126px;
}
.imgdivup .img-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.scrollinger {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #71CDF4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #71CDF4;
}

::-webkit-scrollbar-thumb:active {
  background-color: #71cdf4;
}

::-webkit-scrollbar-track {
  background-color: #e9e9e9;
  border-radius: 10px;
}

.hiddenn {
  display: none;
}

.pokemon_area h2 {
  text-align: center;
}

.king {
  position: fixed;
  top: 0;
  width: 100vh;
  height: auto;
}

nav {
  position: fixed;
  width: 0px;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: hsl(0deg, 0%, 85%);
  transition: 1.5s;
  box-shadow: 11px 20px 17px 3px hsla(0deg, 0%, 0%, 0.25);
}
nav .save {
  display: block;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.nav_active {
  width: 120px;
  transition: 1.5s;
}
.nav_active svg {
  transition: 1.5s;
  position: absolute;
  right: -71px;
}
.nav_active .slots {
  height: 95vh;
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  transition: 1.5s;
}
.nav_active .slots .droptarget {
  border-radius: 12px;
  width: 66px;
  height: 66px;
  background-color: white;
  border: hsl(0deg, 100%, 36%) solid 3px;
  transition: 2.5s;
}
.nav_active .slots .save {
  display: block;
  background-color: rgb(255, 255, 255);
  color: #000;
  border-color: #404040;
}
.nav_active .slots .save:hover {
  cursor: pointer;
}
.nav_active .morere {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: larger;
  font-weight: bolder;
}
.nav_active .morere:hover {
  cursor: pointer;
}

.pokebo img {
  width: 0px;
}

.svg-active {
  transition: 1.5s;
  position: absolute;
  right: -71px;
  rotate: 90deg;
}

main .droptarget {
  border-radius: 12px;
  width: 66px;
  height: 66px;
  transition: 2.5s;
}
main .droptarget .poke img {
  width: 100%;
  z-index: 50;
}

.poke {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: grab;
}
.poke:hover::after {
  padding-top: 4px;
  text-align: center;
  width: 145px;
  font-size: 14px;
}

.img-active img {
  width: 100%;
}

.stock {
  align-items: center;
  flex-wrap: wrap;
  gap: 17px;
  display: flex;
  justify-content: center;
}

#guessGame > a {
  color: white;
  text-decoration: none;
}

.footer {
  padding-top: 500px;
}
.footer .deleting {
  display: block;
  transition: 1s;
  position: absolute;
  width: 120px;
  height: 150px;
  background-color: hsl(0deg, 0%, 85%);
  bottom: -160px;
  left: 240px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
}
.footer .deleting h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
}
.footer .deleting .droptarget {
  border-radius: 12px;
  width: 66px;
  height: 66px;
  background-color: white;
  border: hsl(0deg, 100%, 36%) solid 3px;
  margin: 0 auto;
  display: block;
}
.footer .lower {
  position: absolute;
  transition: 2s;
  border-radius: 800px;
  gap: 10px;
  bottom: -550px;
  left: 25%;
  width: 50%;
  height: 400px;
  background-color: hsl(0deg, 0%, 85%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 250px;
}
.footer .lower button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: hsl(0deg, 0%, 85%);
  border: 1px solid black;
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
}

.footer-active {
  padding-top: 500px;
}
.footer-active .deleting {
  display: block;
  transition: 1.5s;
  position: absolute;
  width: 120px;
  height: 150px;
  background-color: hsl(0deg, 0%, 85%);
  bottom: 0;
  left: 240px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
}
.footer-active .deleting h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
}
.footer-active .deleting .droptarget {
  border-radius: 12px;
  width: 66px;
  height: 66px;
  background-color: white;
  border: hsl(0deg, 100%, 36%) solid 3px;
  margin: 0 auto;
  display: block;
}
.footer-active .lower {
  position: absolute;
  transition: 1.5s;
  border-radius: 800px;
  gap: 10px;
  bottom: -250px;
  left: 25%;
  width: 50%;
  height: 400px;
  background-color: hsl(0deg, 0%, 85%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 250px;
}
.footer-active .lower button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: hsl(0deg, 0%, 85%);
  border: 1px solid black;
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
}

.selected {
  background-color: rgb(39, 223, 255) !important;
}

.mi-image {
  opacity: 0;
  position: absolute;
  z-index: -1;
  bottom: -80px;
  left: 180px;
  height: auto;
  width: 200px;
  transition: opacity 1s ease-in-out;
}

.mm-image {
  opacity: 0;
  position: absolute;
  z-index: -1;
  bottom: -13px;
  left: 200px;
  height: auto;
  width: 200px;
  transition: opacity 1s ease-in-out;
}

.mt-image {
  opacity: 0;
  position: absolute;
  z-index: -1;
  bottom: -50px;
  left: 200px;
  height: auto;
  width: 200px;
  transition: opacity 1s ease-in-out;
}

.mv-image {
  opacity: 0;
  position: absolute;
  z-index: -1;
  bottom: -35px;
  left: 200px;
  height: auto;
  width: 200px;
  transition: opacity 1s ease-in-out;
}

.mf-image {
  opacity: 0;
  position: absolute;
  z-index: -1;
  bottom: -5px;
  left: 190px;
  height: auto;
  width: 200px;
  transition: opacity 1s ease-in-out;
}

.mi-image.appear {
  z-index: 80;
  opacity: 1;
}

.mm-image.appear {
  z-index: 80;
  opacity: 1;
}

.mt-image.appear {
  z-index: 80;
  opacity: 1;
}

.mv-image.appear {
  z-index: 80;
  opacity: 1;
}

.mf-image.appear {
  z-index: 80;
  opacity: 1;
}

/*# sourceMappingURL=build.css.map */
