body{
    background-image: url("img/guess.png");
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    height: 400px;
}

h1{
    font-size: 60px;
    text-align: center;
}

a{
    color: white;
    font-size: 20px;
}

#sound:hover{
    cursor: pointer;
}

#again{
    display: none;
}

#answer{
    color: white;
    font-size: 20px;
}

.hide{
    -webkit-filter : brightness(0%);
    filter : brightness(0%);
}

.mid{
    margin-left: 12%;
}