body{
    background-image: url("img/guess.png");
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    height: 300px;
}

a{
    color: white;
}

#sound:hover{
    cursor: pointer;
}

#again{
    display: none;
}

.hide{
    -webkit-filter : brightness(0%);
    filter : brightness(0%);
}