*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Press Start 2P';
}

body{
  overflow-y: hidden;
}

#forest {
  background-repeat: no-repeat;
  background-size: cover;
}
#pokedex {
  width: 100vh;
  height: 600px;
  margin: auto;
  margin-top: 5%;
  background-color: #dd0b2d;
  border: #88061c 10px solid;
  border-top-width: 20px;
  z-index: 2;
  display: grid;
  grid-template-columns: 5% 40% 10% 40% 5%;
  grid-template-rows: 3% 12% 40% 20% 20% 5%;
  border-radius: 2%;
  font-family: 'Press Start 2P';
}

.camera-display {
  background-color: #E5F6FC;
  border-radius: 5%;
  border: 30px solid #E6E6E6;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 5;
  img {
    width: 100%;
    height: auto;
  }
}

.divider {
  background-color: #88061c;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 7;
  margin: 0 30px;
}
.stats-display {
  background-color: #9fdab1;
  border-radius: 0%;
  border: 5px solid #E6E6E6;
  grid-column-start: 4;
  grid-row-start: 3;
  padding: 15px;
  overflow: scroll;
  overflow-x: hidden;
  h2 {
    margin: 10px 0;
  }
  ul {
    margin: 10px;
    overflow: auto;
  }
}
.stat-bar {
  width: 250px;
  height: 20px;
  background-color: #ddd;
  border: 1px solid #000;
  .progress1 {
    height: 100%;
  }
  .progress2 {
    height: 100%;
  }
  .progress3 {
    height: 100%;
  }
  .progress4 {
    height: 100%;
  }
  .progress5 {
    height: 100%;
  }
  .progress6 {
    height: 100%;
  }
}



.sensor {
  button {
    background: #71CDF4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
    z-index:3;
    float: left;
    margin-left: 25px;
    border: 3px solid white;
  }
  grid-column-start: 2;
  grid-row-start: 2;
}
.controleraudio{
  grid-column-start: 1;
  grid-row-start: 2;
  div{
    background-color: yellow;
    border: 1px solid rgb(170, 170, 0);
    width: 25px;
    height: 25px;
  }
}

.botom-actions {
  grid-column-start: 2;
  grid-row-start: 5;
  display: grid;
  grid-template-columns: 25% 25% 15% 35%;
  grid-template-rows: 10% 80% 10%;
}

#actions {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 5;
  height: 60px;
  .a {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #404040;
    border: 5px solid #303030;
    cursor: pointer;
  }
  img{
    width: 100%;
    height: auto;
  }
}

#cross {
  grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: 5;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  .cross-button {
    background-color: #404040;
    border: #303030;
    color: red;
    cursor: pointer;
    border-style: solid;
  }
  .up {
    grid-row-start: 1;
    grid-column-start: 2;
    border-width: 5px 5px 0px 5px;
  }
  .right {
    grid-row-start: 2;
    grid-column-start: 1;
    border-width: 5px 0px 5px 5px;
  }
  .down {
    grid-row-start: 3;
    grid-column-start: 2;
    border-width: 0px 5px 5px 5px;
  }
  .left {
    grid-row-start: 2;
    grid-column-start: 3;
    border-width: 5px 5px 5px 0px;
  }
  .center {
    grid-row-start: 2;
    grid-column-start: 2;
    border-width: 0;
  }

}

.input-pad {
  //background-color: green;
  grid-row-start: 4;
  grid-column-start: 4;
  display: flex;
  align-items: center;
  input {
    width: 93%;
    height: 50px;
    background-color: #E6E6E6;
    font-family: 'Press Start 2P';
    font-size: 20px;

    button{
      height: 25px;
      width: 7%;

    }

  }
}




.bottom-modes {
  grid-row-start: 5;
  grid-row-start: 5;
  grid-column-start: 4;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40% 20% 40%;
}

.black-button {
  background-color: #404040;
  border: #303030 5px solid;
  color: gray;
  cursor: pointer
}
.pokedex-mode {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.game-mode {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

.level-button {
  background-color: #1697F9;
  border: #71CDF4 5px solid;
  color: gray;
  cursor: pointer;
}


.card{
  display: flex;
  flex-wrap: wrap;
  margin-top: -25px ;
  justify-content: space-around;
  gap: 1rem;


  div{
    width: 60px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: black 0px 0px 10px;
    h2{
      font-size: 0.7rem;
      text-align: center;
    }
    img{
      width: 80px;
      height: 80px;
    }
  }


  }

  .imgdivup {
    width: 252px;
    display: flex;
    flex-wrap: wrap;

    img {
      width: calc(252px / 2);
  }

    .img-row {
      width: 100%;
      display: flex;
      justify-content: space-between;
  }
}

.scrollinger{
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #71CDF4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #71CDF4;
}

::-webkit-scrollbar-thumb:active {
  background-color: #71cdf4;
}

::-webkit-scrollbar-track {
  background-color: #e9e9e9;
  border-radius: 10px;
}

.hiddenn{
  display: none;

}
.pokemon_area{
  h2{
    text-align: center;
  }
}
.king{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vh;
  height: auto;
}



// part drag and drop/team


nav{
  position: fixed;
  width: 0px;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: hsla(0, 0%, 85%, 1);
  transition: 1.5s;
  box-shadow: 11px 20px 17px 3px hsla(0, 0%, 0%, 0.25);
  .save{
    display: block;
    background-color: #0000;
    color: #0000;
    border-color: #0000;
  }
}
.nav_active{
  width: 120px;
  transition: 1.5s;
  svg{
    transition: 1.5s;
    position: absolute;
    right: -71px;
  }

  .slots{
    height: 95vh;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    transition: 1.5s;



    .droptarget{
      border-radius: 12px;
      width: 66px;
      height: 66px;
      background-color: white;
      border: hsla(0, 100%, 36%, 1) solid 3px;
      transition: 2.5s;
    }
    .save{
      display: block;
      background-color: rgb(255, 255, 255);
      color: #000;
      border-color: #404040;
    }
    .save:hover{
      cursor: pointer;
    }
  }

  .morere{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: larger;
    font-weight: bolder;
  }
  .morere:hover{
    cursor: pointer;
  }

}
.pokebo{
  img{
    width: 0px;
  }

}

.svg-active{
  transition: 1.5s;
  position: absolute;
  right: -71px;
  rotate: 90deg;
}



main{

  .droptarget{
    border-radius: 12px;
    width: 66px;
    height: 66px;
    
    transition: 2.5s;

    .poke{
      img{
        width: 100%;
        z-index: 50;
      }
    }

  }
}

.poke{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: grab;

  &:hover::after{
    padding-top: 4px;
    text-align: center;
    width:145px;
    //content: "solgaleo";
    font-size: 14px;

  }
}

.img-active{
  img{
    width: 100% ;
  }
}

.stock{
  align-items: center;
  flex-wrap: wrap;
  gap: 17px;
  display: flex;
  justify-content: center;
}



#guessGame > a{
  color: white;
  text-decoration: none;
}

.footer{
  padding-top: 500px;
  .deleting{
    display: block;
    transition: 1s;
    position: absolute;
    width: 120px;
    height: 150px;
    background-color: hsla(0, 0%, 85%, 1);
    bottom: -360px;
    left: 240px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center; 
    h3{
      padding-top: 20px;
      padding-bottom: 10px;
      margin: 0;
    }
    .droptarget{
        border-radius: 12px;
        width: 66px;
        height: 66px;
        background-color: white;
        border: hsla(0, 100%, 36%, 1) solid 3px;
        margin: 0 auto; 
        display: block; 
    }
  }

  .lower{
    position: absolute;
    transition: 2s;
    border-radius: 800px;
    gap: 10px;
    bottom: -550px;
    left: 25%;
    width: 50%;
    height: 400px;
    background-color: hsla(0, 0%, 85%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 250px;
    button{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: hsla(0, 0%, 85%, 1);
      border: 1px solid black;
      font-size: 30px;
      font-weight: bolder;
      cursor: pointer;
    }
  }
}

.footer-active{
  padding-top: 500px;
  .deleting{
    display: block;
    transition: 1.5s;
    position: absolute;
    width: 120px;
    height: 150px;
    background-color: hsla(0, 0%, 85%, 1);
    bottom: 0;
    left: 240px;
    border-radius: 25px;
    text-align: center; 
    h3{
      padding-top: 20px;
      padding-bottom: 10px;
      margin: 0;
    }
    .droptarget{
        border-radius: 12px;
        width: 66px;
        height: 66px;
        background-color: white;
        border: hsla(0, 100%, 36%, 1) solid 3px;
        margin: 0 auto; 
        display: block; 
    }
  }
  .lower{
    position: absolute;
    transition: 1.5s;
    border-radius: 800px;
    gap: 10px;
    bottom: -250px;
    left: 25%;
    width: 50%;
    height: 400px;
    background-color: hsla(0, 0%, 85%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 250px;
    button{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: hsla(0, 0%, 85%, 1);
      border: 1px solid black;
      font-size: 30px;
      font-weight: bolder;
      cursor: pointer;
    }
  }
}

.selected{
  background-color: rgb(39, 223, 255)!important;
}


.mi-image {
  opacity: 0;
  position: absolute;
  z-index: -1;
  bottom: -80px;
  left: 180px;
  height: auto;
  width: 200px;
  transition: opacity 1s ease-in-out;
}
.mm-image {
  opacity: 0;
  position: absolute;
  z-index: -1;
  bottom: -13px;
  left: 200px;
  height: auto;
  width: 200px;
  transition: opacity 1s ease-in-out;
}
.mt-image {
  opacity: 0;
  position: absolute;
  z-index: -1;
  bottom: -50px;
  left: 200px;
  height: auto;
  width: 200px;
  transition: opacity 1s ease-in-out;
}
.mv-image {
  opacity: 0;
  position: absolute;
  z-index: -1;
  bottom: -35px;
  left: 200px;
  height: auto;
  width: 200px;
  transition: opacity 1s ease-in-out;
}
.mf-image {
  opacity: 0;
  position: absolute;
  z-index: -1;
  bottom: -5px;
  left: 190px;
  height: auto;
  width: 200px;
  transition: opacity 1s ease-in-out;
}

.mi-image.appear {
  z-index: 80;
  opacity: 1;
}
.mm-image.appear {
  z-index: 80;
  opacity: 1;
}
.mt-image.appear {
  z-index: 80;
  opacity: 1;
}
.mv-image.appear {
  z-index: 80;
  opacity: 1;
}
.mf-image.appear {
  z-index: 80;
  opacity: 1;
}

.backlink{
  color: gray;
  text-decoration: none;
  cursor: pointer;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 60;
}

#receptacle {
width: 450px;
height: 350px;
z-index: 70;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #2b2b2b; 
border-radius: 10px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 10px;
}

#receptacle > img {
  width: 140px;
  height: 140px;
  border-radius: 5px;
  margin: 10px;
}
.lithg{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}

.ninja{
  display: none;
}

.copper{
  border: 2px solid #745f5f;
}

.silver{
  border: 2px solid silver;
}

.gold{
  border: 2px solid gold;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.platinum{
  border: 3px solid;
  border-image: 
    linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}



.register {
  img{
    z-index: 89;
    position: absolute;
    top: 38%;
    left: 60%;
    transform: translate(-50%, -50%);
    height: 370px;
    width: 370px;
  }
  .register-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 90;
    width: 350px;
    height: 200px;
    text-align: center;
    background-color: #3a3a3a;
    color: #E5F6FC;
    border-radius: 10px;
    border-top-right-radius: 0px;
    font-size: larger;
  }
}

.hname{
  position : relative;
  top: 13px;
  left: 30px;
  font-size: 20px;
  font-weight: bold;
  
}